.form-wrapper {
    width: 100%;
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}


.w3-card-4 {
    width: 50%; 
    max-width: 600px;
}


@media (max-width: 768px) {
    .w3-card-4 {
        width: 80%; 
    }
}

@media (max-width: 480px) {
    .w3-card-4 {
        width: 95%; 
    }
}
.table-section-center {
    width: 50%;
    margin: 0 auto;
}
